* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   display: flex;
   justify-content: center;

   min-height: 100vh;

   font-family: 'Inter', sans-serif;
   background-color: #f2f2f2;
}

main {
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 16px;

   width: 550px;
   height: 230px;

   margin-top: 32px;
}

.title {
   align-self: flex-start;
}

main .container {
   display: flex;
   align-items: flex-start;

   gap: 16px;

}

.container-input-weight,
.container-input-height {
   display: flex;
   flex-direction: column;
   gap: 8px;

}

label {
   font-weight: bold;
}

input {
   width: 150px;
   height: 48px;
   padding: 6px;

   border: 1px solid rgba(0, 0, 0, .5);
   outline: none;
   border-radius: 8px;
}

.show-bmi {
   display: flex;
   align-items: center;
   justify-content: center;

   width: 200px;
   height: 138px;
   font-size: 32px;

   border-radius: 8px;
   color: #f2f2f2;
   background-color: #FF5C00;
}

.show-bmi span {
   text-align: center;
}


button {
   all: unset;
   cursor: pointer;

   width: 150px;
   height: 48px;

   text-align: center;
   text-transform: uppercase;

   border-radius: 16px;
   color: #f2f2f2;
}

.btn-calculate {
   background-color: #0017EA;
}

.btn-clear {
   background-color: #FF5C00;
}

@media (max-width:550px) {

   main,
   .container,
   .table {
      width: 450px;
   }

   .show-bmi {
      width: 150px;
      height: 100px;
      font-size: 24px;
   }
}

/* @media (max-width:450px) {

   .container {
      flex-direction: column;
   }

   .title {
      align-self: center;
   }

   .container-input-height,
   .container-input-weight {
      align-self: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;
   }

   .show-bmi {
      align-self: center;
      width: 250px;
   }

   .table {
      width: 350px;
   }
}

@media (max-width:450px) {

   .container {
      flex-direction: column;
   }

   .title {
      align-self: center;
   }

   .container-input-height,
   .container-input-weight {
      align-self: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
   }

   .show-bmi {
      align-self: center;
      width: 250px;
   }

   .table {
      width: 350px;
   }
} */